.container {
    width: 1000px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}

p, a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;

}

h3 {
    font-size: 18.72px;
}

h4 {
    font-size: 16px;
}


body {
    background-color: cornflowerblue;
}

.container {
    margin: 0 auto;
    background-color: white;
    border: 7.5px solid white;
}

nav {
    background-color: cornflowerblue;
}

nav a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    word-spacing: 15px;
    background-color: teal;
}

.head1 {
    text-align: center;
}

.gallery {
    width: 1000px;

}

#pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 650px;
}

#project {
    width: 350px;
}


.gal {
    width: 150px;
    height: 350px;
}

.btn {
    width: 75px;
    height: 30px;
    background-color: teal;
    border: 2px solid darkgrey;
    padding: 1%;
    margin: 0 auto;
}

footer {
    background-color: cornflowerblue;
    padding: 1% 5% 1% 5%;
}
