.container {
    width: 1000px;
}

.gallery {
    width: 1000px;

}

#pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 650px;
}

#project {
    width: 350px;
}


.gal {
    width: 150px;
    height: 350px;
}

.contact_btn {
    width: 75px;
    height: 30px;
    background-color: blueviolet;
    border: 2px solid darkgrey;
    padding: 2%;
}
